body {
    font-family: "Roboto", sans-serif;
    background-image: url(../img/restaurant.webp);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    color: #333;
}
p {
    text-align: left;
}

.textBox {
    text-align: left;
    margin: 20px 0;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 5px;
}

.loginButton {
    margin: 20px 0;
}

#loginButton {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#loginButton:hover {
    background-color: #0056b3;
}

.singInWithGoogle {
    margin: 20px 0;
}

.singInWithGoogle button {
    width: 100%;
    background-color: #dedfe2;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.singInWithGoogle button:hover {
    background-color: #c3c5c9;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
